DATABASE_URL=postgresql+asyncpg://postgres:postgres@db_upprpo:5432/upprpo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=upprpo

SECRET_KEY=change-me
ALGORITHM=HS256
TIME_LIMIT=15

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CF_ACCOUNT_ID=
CF_IMAGES_API_KEY=

REDIS_URL=redis://redis:6379

VUE_APP_API_URL=http://localhost:8000
FRONTEND_URL=http://localhost:8080

BOT_TOKEN=
