POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=
REDIS_URL=

SECRET_KEY=
ALGORITHM=HS256
FRONTEND_URL=
VUE_APP_API_URL=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

BOT_TOKEN=
